@charset "UTF-8";
/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* GLOBALS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%;}

body {
  width: 100%;
  height: 100vh;
  margin-bottom: 20px;
  background-image: url(../images/fondoindex.jpg); }

section {
  margin: 20px;
  display: inline-block; }
  section article {
    width: 500px;
    height: 300px;
    padding: 20px; }
    section article p {
      line-height: 2; }

main {
  margin: 1rem; }
.barraNav{
  z-index: 500;
}
/* PARTIALS */
header {
  height: 15vh; }

.claseNavegacion #animarLogo {
  animation: bounce;
  animation-duration: 2s; }
  .claseNavegacion #animarLogo .imagenLogo img {
    max-width: 100%;
    max-height: 100%; }

body .claseNavegacion .claseMenu {
  font-size: 16%;
  width: 60%;
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: flex-end;
  align-items: center; }
  body .claseNavegacion .claseMenu > li {
    display: inline-block; }
  body .claseNavegacion .claseMenu .submenu {
    display: none; }

footer {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px; 
  width:100%;
  bottom:0;}

.derechos{
  justify-content: center;
  align-items: center;
}

.search-text {
  margin-top: 0px;
  background-color: #252525;
  padding-top: 60px;
  padding-bottom: 60px; }
  .search-text .input-search {
    height: 45px;
    width: 50%;
    padding-left: 20px;
    color: #333; }
  .search-text .btn-search {
    background: #da3e44;
    border: none;
    color: #FFF;
    height: 43px;
    width: 70px;
    align-items: center; }
  .search-text h4 {
    color: #FFF;
    font-weight: 700; }

.logo {
  color: #FFF;
  width: 250px;
  height: 250px; }

.address span,
.menu span {
  color: #FFF;
  font-weight: bold;
  border-bottom: 1px solid #c7c7c7;
  padding: 10px 0px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px; }

.address li a,
.menu li a {
  color: #FFF;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 14px; }

.address li,
.menu li {
  margin: 20px 0px;
  list-style: none;
  display: flex;
  flex-direction: column;}

.address li a:hover,
.menu li a:hover {
  color: #da3e44;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out; }

.address .fa {
  color: #da3e44;
  margin-right: 10px;
  font-size: 18px; }

/* PAGES */
/*Aplicación de GRID en CARRERAS.HTML*/
.gridCarrerras {
  display: grid; }

#principalCarreras {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem 20rem;
  gap: 2rem; }
  #principalCarreras .cardsCarreras {
    align-items: center;
    grid-column: 1 / 3;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    #principalCarreras .cardsCarreras article {
      padding: 0.5rem; }

.cardsCarreras__imgLeft {
  background-image: url(../images/derecho.jpg);
  background-size: cover;
  box-shadow: 2px 2px 10px gray;
  transform: scale(1, 1); }

.cardsCarreras__imgRight {
  background-image: url(../images/nuclear.jpg);
  background-size: cover;
  box-shadow: 2px 2px 10px gray;
  transform: scale(1, 1); }

.cardsCarreras__imgTopLeft {
  background-image: url(../images/abogacia.jpg);
  background-size: cover;
  box-shadow: 2px 2px 10px gray; }

.cardsCarreras__imgTopRight {
  background-image: url(../images/psicologia.jpg);
  background-size: cover;
  box-shadow: 2px 2px 10px gray; }

.cardsCarreras__imgBackLeft {
  background-image: url(../images/ing_industrial.jpg);
  background-size: cover;
  box-shadow: 2px 2px 10px gray; }

.cardsCarreras__imgBackRight {
  background-image: url(../images/ing_civil.jpg);
  background-size: cover;
  box-shadow: 2px 2px 10px gray; }

/*Aplicación de Transform en carreras.html*/
#hoverImagen:hover {
  transform: scale(1.1, 1.1); }

.btn--imagenuno {
  background-color: #e64949; }

.btn--imagendos {
  background-color: #ba83ca; }

.btn--imagentres {
  background-color: #92217d; }

/*Definiciones de los ingresos de datos en CONTACTO.HTML*/
label {
  display: block;
  letter-spacing: 1px; }

.formulario {
  display: block;
  width: 500px;
  color: #666666;
  font-family: Arial; }

form {
  margin: 0 auto;
  width: 400px; }

input {
  background: #dbd2d2;
  border: 2px solid #000000;
  padding: 10px;
  font-size: 10px;
  color: #000000; }

textarea {
  width: 250px;
  height: 30px;
  background: #dbd2d2;
  border: 2px solid #f6f6f6;
  padding: 10px;
  font-size: 10px;
  color: #ffffff; }

.formContacto {
  display: grid; }

/*Fin de las definiciones de los ingresos de datos en CONTACTO.HTML*/
/*Aplicación de animación en Contacto.html*/
.claseContacto {
  animation: fadeIn;
  animation-duration: 2s; }

/*Fin de animación en Contacto.html*/
/*Aplicación de GRID en CURSOS.HTML*/
.container {
  width: 100%;
  align-content: center; }
  .container section p {
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-family: "Courier New", Courier, monospace;
    background: #e4e4e4;
    transition: all 0.2s ease-in; }
  .container section a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    background-color: #212121;
    border-bottom: 2px solid gray;
    color: white; }

.container section:target p {
  max-height: 120px;
  padding: 10px; }

/*Definición de estilos en Nosotros.html*/
.claseMainNosotros {
  display: flex;
  flex-direction: column;
  width: 90%; }

.claseCarousel{
  width:100%;
  height:100%;
}

.claseVideo{
  max-width: 100%;
  max-height: 100%;
}

.mainIndex{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
}



/*Fin definición de estilos en Nosotros.html*/
/*Aplicación de Transform en nosotros.html*/
#videoScale:hover {
  transform: scale(1.1, 1.1); }

/*Aplicación de flex en index.html*/
.claseMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .claseMain .imagenIndex {
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    image-rendering: auto; }

.container .sectionOne {
  display: flex;
  gap: 2rem; }

a.deco-none {
  color: white !important;
  text-decoration: none; }

.bg-menu:hover {
  background-color: gray;
  color: white; }

.clickable {
  cursor: pointer; }

  .cardsIndex {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin-top: 30px; }
    .cardsIndex .card {
      width: 330px;
      height: 250px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: all 0,25s; }
      .cardsIndex .card img {
        width: 330px;
        height: 220px; }
      .cardsIndex .card h5 {
        font-weight: 600; }
      .cardsIndex .card p {
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300; }
        .flip>.back,.flip>.front{transition-timing-function:cubic-bezier(0.175,.885,.32,1.275);transition-duration:.5s;transition-property:transform,opacity}
        .flip>.front{transform:rotateY(0deg)}
        .flip>.back{position:absolute;opacity:0;top:0;left:0;transform:rotateY(-180deg)}
        .flip:hover>.front{transform:rotateY(180deg)}
        .flip:hover>.back{opacity:1;transform:rotateY(0deg)}
        .flip.flip-vertical>.back{transform:rotateX(-180deg)}
        .flip.flip-vertical:hover>.front{transform:rotateX(180deg)}
        .flip.flip-vertical:hover>.back{transform:rotateX(0deg)}
        .flip{position:relative;display:inline-block;margin-right:2px;margin-bottom:1em;width:400px}
        .flip>.back,.flip>.front{display:block;color:#fff;width:inherit;background-size:cover!important;background-position:center!important;height:220px;padding:1em 2em;background:#313131;border-radius:10px}
        .flip>.back p,.flip>.front p{font-size:.9125rem;line-height:160%;color:#999}
        .text-shadow{text-shadow:1px 1px rgba(0,0,0,.04),2px 2px rgba(0,0,0,.04),3px 3px rgba(0,0,0,.04),4px 4px rgba(0,0,0,.04),.125rem .125rem rgba(0,0,0,.04),6px 6px rgba(0,0,0,.04),7px 7px rgba(0,0,0,.04),8px 8px rgba(0,0,0,.04),9px 9px rgba(0,0,0,.04),.3125rem .3125rem rgba(0,0,0,.04),11px 11px rgba(0,0,0,.04),12px 12px rgba(0,0,0,.04),13px 13px rgba(0,0,0,.04),14px 14px rgba(0,0,0,.04),.625rem .625rem rgba(0,0,0,.04),16px 16px rgba(0,0,0,.04),17px 17px rgba(0,0,0,.04),18px 18px rgba(0,0,0,.04),19px 19px rgba(0,0,0,.04),1.25rem 1.25rem rgba(0,0,0,.04)}
/*Fin de flex en index.html*/
.cardsSedes {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin-top: 30px; }
  .cardsSedes .card {
    width: 330px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0,25s; }
    .cardsSedes .card:hover {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
    .cardsSedes .card img {
      width: 330px;
      height: 220px; }
    .cardsSedes .card h4 {
      font-weight: 600; }
    .cardsSedes .card p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }
      .flip>.back,.flip>.front{transition-timing-function:cubic-bezier(0.175,.885,.32,1.275);transition-duration:.5s;transition-property:transform,opacity}
      .flip>.front{transform:rotateY(0deg)}
      .flip>.back{position:absolute;opacity:0;top:0;left:0;transform:rotateY(-180deg)}
      .flip:hover>.front{transform:rotateY(180deg)}
      .flip:hover>.back{opacity:1;transform:rotateY(0deg)}
      .flip.flip-vertical>.back{transform:rotateX(-180deg)}
      .flip.flip-vertical:hover>.front{transform:rotateX(180deg)}
      .flip.flip-vertical:hover>.back{transform:rotateX(0deg)}
      .flip{position:relative;display:inline-block;margin-right:2px;margin-bottom:1em;width:400px}
      .flip>.back,.flip>.front{display:block;color:#fff;width:inherit;background-size:cover!important;background-position:center!important;height:220px;padding:1em 2em;background:#313131;border-radius:10px}
      .flip>.back p,.flip>.front p{font-size:.9125rem;line-height:160%;color:#999}
      .text-shadow{text-shadow:1px 1px rgba(0,0,0,.04),2px 2px rgba(0,0,0,.04),3px 3px rgba(0,0,0,.04),4px 4px rgba(0,0,0,.04),.125rem .125rem rgba(0,0,0,.04),6px 6px rgba(0,0,0,.04),7px 7px rgba(0,0,0,.04),8px 8px rgba(0,0,0,.04),9px 9px rgba(0,0,0,.04),.3125rem .3125rem rgba(0,0,0,.04),11px 11px rgba(0,0,0,.04),12px 12px rgba(0,0,0,.04),13px 13px rgba(0,0,0,.04),14px 14px rgba(0,0,0,.04),.625rem .625rem rgba(0,0,0,.04),16px 16px rgba(0,0,0,.04),17px 17px rgba(0,0,0,.04),18px 18px rgba(0,0,0,.04),19px 19px rgba(0,0,0,.04),1.25rem 1.25rem rgba(0,0,0,.04)}

      /* MEDIAS */
      @media only screen and (max-widht:1024px){
        .claseNavegacion{
            padding: 2rem 4rem;
        }
        #principalCarreras {
            font-size: 0.8rem;
        }
    }
    @media only screen and (max-widht:780px){
        #principalCarreras {
            font-size: 0.6rem;
        }
    }
    @media only screen and (max-widht:560px){
        #principalCarreras{
            font-size: 1rem;
            grid-template-columns: 1fr;
            grid-template-rows:repeat(3 , 40rem);
            gap: 2rem;
        }
        #principalCarreras .cardsCarreras{
            grid-column: 1;
            flex-direction: column;
            padding: 0.5rem;
            max-width: 90%;
            box-shadow: 2px 2px 10px gray;
            border-radius: 10px;
        }
    }
    /* El tamaño por defecto de 200px ya estaría establecido previamente */
    @media all and (max-width: 1000px){
        img{
        width:180px;
        }
        }
        @media all and (max-width: 400px){
        img{
        width:100%;
        }
        }